@tailwind base;
@tailwind components;
@tailwind utilities;
/* :root {
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
} */

@media screen and (max-width: 768px) {
  .Home__Container .second_section {
    flex-wrap: wrap;
  }
}

.categories__container {
  animation: fadein 0.5s ease forwards;
}
.categories__container .category .category_subheader .subcategory {
  height: fit-content;
  width: 100%;
  transition: 0.5s;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}
.categories__container .category .category_subheader .subcategory:hover, .categories__container .category .category_subheader .subcategory:active {
  background-color: white;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes loadingtextfade {
  0% {
    opacity: 0;
    padding-left: 5%;
  }
  50% {
    opacity: 0.5;
    padding-right: 5%;
  }
  70% {
    opacity: 0.7;
    padding-left: 5%;
  }
  80% {
    opacity: 0.9;
    padding-right: 5%;
  }
  100% {
    opacity: 1;
    padding-left: 5%;
  }
}
.primary__button {
  transition: 0.5s;
  background-color: #495464;
}
.primary__button:hover, .primary__button:active {
  background-color: white;
  color: black;
}
.primary__button .loading-text {
  animation: loadingtextfade 1s linear infinite;
}

.select__container select {
  background-image: url("../../public/Image/Arrow_down.svg");
  background-repeat: no-repeat;
  background-position: center right;
  background-size: 22px;
  appearance: none;
}

.Account__container {
  animation: slidein 0.3s linear forwards;
}
.Account__container .menu_container li {
  cursor: pointer;
  transition: 0.5s;
}
.Account__container .menu_container li:hover,
.Account__container .menu_container li :active {
  background-color: white;
  color: black;
}

.Cart__Sidemenu {
  animation: slidein 0.3s linear forwards;
}

@keyframes slidein {
  from {
    right: -400px;
  }
  to {
    right: 0px;
  }
}
@keyframes ldio-jhvhak8eufc {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.ldio-jhvhak8eufc div {
  box-sizing: border-box !important;
}

.ldio-jhvhak8eufc > div {
  position: absolute;
  width: 86px;
  height: 86px;
  top: 28px;
  left: 28px;
  border-radius: 50%;
  border: 16px solid #000;
  border-color: #495464 transparent #495464 transparent;
  animation: ldio-jhvhak8eufc 1s linear infinite;
}

.ldio-jhvhak8eufc > div:nth-child(2),
.ldio-jhvhak8eufc > div:nth-child(4) {
  width: 50px;
  height: 50px;
  top: 46px;
  left: 46px;
  animation: ldio-jhvhak8eufc 1s linear infinite reverse;
}

.ldio-jhvhak8eufc > div:nth-child(2) {
  border-color: transparent #000000 transparent #000000;
}

.ldio-jhvhak8eufc > div:nth-child(3) {
  border-color: transparent;
}

.ldio-jhvhak8eufc > div:nth-child(3) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}

.ldio-jhvhak8eufc > div:nth-child(3) div:before,
.ldio-jhvhak8eufc > div:nth-child(3) div:after {
  content: "";
  display: block;
  position: absolute;
  width: 10px;
  height: 10px;
  top: -16px;
  left: 48px;
  background: #6c6661;
  border-radius: 50%;
  box-shadow: 0 128px 0 0 #6c6661;
}

.ldio-jhvhak8eufc > div:nth-child(3) div:after {
  left: -16px;
  top: 48px;
  box-shadow: 128px 0 0 0 #6c6661;
}

.ldio-jhvhak8eufc > div:nth-child(4) {
  border-color: transparent;
}

.ldio-jhvhak8eufc > div:nth-child(4) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}

.ldio-jhvhak8ufc > div:nth-child(4) div:before,
.ldio-jhvhak8eufc > div:nth-child(4) div:after {
  content: "";
  display: block;
  position: absolute;
  width: 10px;
  height: 10px;
  top: -16px;
  left: 30px;
  background: #554e49;
  border-radius: 50%;
  box-shadow: 0 92px 0 0 #554e49;
}

.ldio-jhvhak8eufc > div:nth-child(4) div:after {
  left: -16px;
  top: 30px;
  box-shadow: 92px 0 0 0 #554e49;
}

.loadingio-spinner-double-ring-op62hjn5ktc {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
}

.ldio-jhvhak8eufc {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
  /* see note above */
}

.ldio-jhvhak8eufc div {
  box-sizing: content-box;
}

/* generated by https://loading.io/ */
.dashboardNav__container .navlink {
  cursor: pointer;
}
.dashboardNav__container .navlink:hover {
  background-color: black;
  color: white;
}
.dashboardNav__container .activelink {
  background-color: black;
  color: white;
}

.user_dashboard__container .profile__section .profile {
  border-radius: 50%;
}

.modal__container {
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.size__contianer .size_list .size {
  cursor: pointer;
  transition: 0.5s;
}
.size__contianer .size_list .size:hover {
  background-color: black;
  color: white;
}

.details_modal .color_form .colorlist .colorcircle {
  transition: 0.3s;
}
.details_modal .color_form .colorlist .colorcircle:hover, .details_modal .color_form .colorlist .colorcircle:active {
  outline: 5px solid white;
}
.details_modal .color_form .colorlist .colorcircleactive {
  outline: 5px solid white;
}

.primaryphoto__container .imagecontainer {
  animation: fadephoto 0.5s ease forwards;
}
@keyframes fadephoto {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.toggleselect[data-isopen=true] {
  height: 100%;
}

.addbannerContainer .addbannerscroll__container ::-webkit-scrollbar {
  width: 10px;
}
.addbannerContainer .addbannerscroll__container ::-webkit-scrollbar-track {
  background: #000000;
  border-radius: 1px;
}
.addbannerContainer .addbannerscroll__container ::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 5px;
}

/*# sourceMappingURL=globals.css.map */
